@import 'src/styles/variables.scss';

.button{
    display: flex;
    box-sizing: border-box;
    border-radius: 20px;
    //padding: 0 12px;
    //justify-content: center;
   // align-items: center;
    font-size: 17px;
   // font-weight: 600;
    cursor: pointer;
    &:hover{
     opacity: 0.7;
    }

    &_primary{
        color: #000000;
        background-color: none;
    }
    &_secondary{
          height: 100%;
          width: 100%;
            background-color: #000000;
           color: #FFFFFF;
            justify-content: center;
            align-items: center;
    }
}