$color-dirtywhite:#d5cccc;
$color-baseblack: #1F1F1F;
$color-darkgrey: #555555;
$color-scrollshadow:#0000004d;
$color-delimetershadow:#cccccc8f;
$color-white: #ffffff;
$shadow: 1px 4px 2px 0 #aea4a4;
$color-menu-backgroud:#3f3f623c;
$color-lbl:#777777;
$color-underlay:#8d8d8d7b;
$color-orange: #FFA542;